# OS
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/

# Logs / cache
*.log
/cache/
/tmp/

# Dépendances
/vendor/
/node_modules/

# Fichiers sensibles
.env
mysql.env
docker-compose.yml

# Images dynamiques
images/uploads/
